*{
    margin: 0%;
    padding: 0%;
    
}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 10px;
}

nav img{
   height:100px;
   width: 100px;

}
nav input{
    margin-top: 37px;
    width: 320px;
    height: 40px;
    outline: none;
    text-align: center;
}
nav p{
    margin-top: 45px;
   
}
nav p:hover{
    border-bottom: 2px solid rgb(1, 1, 19);
    cursor: pointer;
}

.snav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    height: 75px;
    
    background-color: bisque;
    border: 2px solid blanchedalmond;
    

}
.snav p{
    margin-top:25px ;
}
.snav p:hover{
    cursor: pointer;
    /* color: burlywood; */
    transform: scale(2);
}
.main {
    display: flex;
    justify-content: center;
    

}
.main .text{
    width: 500px;
    background-color: rgb(224, 224, 224);
}
.main .text .h1{
    font-size: 55px;
    margin-top: 11px;
    margin-left: 18px;
}
.main .text .txt{
    display: flex;
    justify-content: center;
}
.main .text .txt h2{
    margin-inline: 11px;
    font-size: 22px;
    margin-top: 35px;
    
}
.main .text .txt h2:hover{
    border-bottom: 1px solid ;
    
}
.main .text button{
    width:379px;
    height:43px;
    background-color: rgb(229, 109, 129);
    color:white;
    border-radius: 4px;
    border: none;
    font-size: 28px;
    margin-top: 60px;
    margin-left: 52px;

}
.main .text button:hover{
    background-color: rgb(212, 77, 77);
    border:3px solid rgb(248, 21, 59);

   
}
.top-cat h1{
   
    text-align: center;
    /* margin-top: 44px; */
    padding: 20px;
}
.top-cat .fs{
    display: flex;
    justify-content: center;
    /* background-color: pink; */

}
.top-cat .fs .text{
    width: 600px;
    background-color: rgb(248,215,221);
    
}
.top-cat .fs .text h1{
    font-size: 65px;
    margin-top: 40px;

}
.seller h1{
    text-align: center;
    padding: 20px;
}
.seller .random {
   display: flex;
   justify-content: center;
  
}
.seller .random img{
    width: 500px;
    height: 350px;
}
.seller h1:hover{
   transform: scale(2);
   
}
.card h1{
    text-align: center;
    font-size: 44px;
    padding: 33px;
} 
.crd{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
}
.crd .img img{
    width:82%;
}
.crd .img img:hover{
   transform:scale(2) ;
}
.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 55px;
    margin-top: 44px;
    background-color: beige;
}
.footer  .list p:hover{
   background-color: black;
   color:white;
   cursor: pointer;
}
.footer  .list:hover{
   transform: scale(2);
 }